
body {
   margin: 0;
   background-color:black;
   font-family: 'Raleway', sans-serif;
}
#demoCanvas {
   position: fixed;
   left: 51%;
   top: 50%;
}
#toolbar {
   position:fixed;
   z-index:100;
   bottom:0.5em;
   width:100%;
   list-style-type:none;
   color:#fff;
   margin:0 auto;
   padding:0;
   text-align:center;
}
#toolbar li {
   display:inline;
   padding: 0.5em 1em;
   border:1px solid #fff;
   background-color:#308245;
}
#toolbar a {
   vertical-align:middle;
}

#toolbar input[type=range]::-moz-range-thumb {
    background: #2C3A73;
    border: 1px solid #bdc3c7;
    border-radius:0px;
    width:8px;
    height:16px;

}
#toolbar input[type=range]::-moz-range-thumb:hover {
    background: #384A96;
}

#playbtn:hover, #stepbtn:hover, #keybtn:hover, #loadbtn:hover {
   background: #205C2F;
   cursor:pointer;
}

#playbtn.running {
   background: #AD0000;
}
#playbtn.running:hover {
   background: #700000;
}
#message {
   position:fixed;
   z-index:100;
   top:0.5em;
   width:100%;
   color:#fff;
   margin:0 auto;
   padding:0;
   text-align:center;
   font-size:3em;
   text-shadow:0 0 5px #001144;
}

.red {
   color:#E35B5B;
   /*font-weight:bold;*/
}
.green {
   color:#62CC7D;
   /*font-weight:bold;*/
}

#popup {
   width: 300px;
   height: 300px;
   position: absolute;
   color:#001144;
   left: 50%;
   top: 40%; 
   margin-left: -150px;
   margin-top: -150px;
   border: 3px solid #0099FF;
   border-radius:30px;
   background-color:#fff;
   padding:20px 40px;
}

#popup li {
    list-style:none;
}

#popup ul {
   padding-left:1em;
}
